---
language: python
services: docker
cache:
  pip: true

install:
  - pip install pipenv
  - pipenv install

env:
  - SCENARIO="backwards_compatibility"
  - SCENARIO="default"
  - SCENARIO="other_features"
  - SCENARIO="tls"

script:
  - molecule --debug test -s ${SCENARIO}

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
