[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
molecule = "*"
docker = "*"
ansible = "<5.0.0"
ansible-lint = "*"
yamllint = "*"
pytest = "*"
testinfra = "*"
molecule-docker = "*"

[requires]
python_version = "3.6"
