---
# TODO: Section 9.4.1.5, “Creating a Password File for Directory Server”.
# TODO: remove certificate if TLS is disabled?

- name: Check that tls_key[_file] is defined
  ansible.builtin.assert:
    that:
      - "(dirsrv_tls_key is defined) != (dirsrv_tls_key_file is defined)"  # This is a XOR
    msg: "only one of dirsrv_tls_key or dirsrv_tls_key_file must be defined"
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_cert, dirsrv_tls ]

- name: Check that tls_cert[_file] is defined
  ansible.builtin.assert:
    that:
      - "(dirsrv_tls_cert is defined) != (dirsrv_tls_cert_file is defined)"  # This is a XOR, again
    msg: "only one of dirsrv_tls_cert or dirsrv_tls_cert_file must be defined"
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_cert, dirsrv_tls ]

- name: Configure TLS certificates and NSS database
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_cert, dirsrv_tls ]
  block:
    - name: Copy cert (from variable)
      ansible.builtin.copy:
        content: "{{ dirsrv_tls_cert }}"
        dest: "/tmp/server-cert-ansible-managed.crt"
        mode: '400'
        setype: cert_t
      when: dirsrv_tls_cert is defined
      changed_when: false

    # TODO: if the file is already on the remote machine, copying it to /tmp is a pointless waste of time...
    - name: Copy cert (from file)
      ansible.builtin.copy:
        src: "{{ dirsrv_tls_cert_file }}"
        dest: "/tmp/server-cert-ansible-managed.crt"
        remote_src: "{{ dirsrv_tls_files_remote }}"
        mode: '400'
        setype: cert_t
      when: dirsrv_tls_cert_file is defined
      changed_when: false

    - name: Copy private key (from variable)
      ansible.builtin.copy:
        content: "{{ dirsrv_tls_key }}"
        dest: "/tmp/server-cert-ansible-managed.key"
        mode: '400'
        setype: cert_t
      when: dirsrv_tls_key is defined
      changed_when: false

    - name: Copy private key (from file)
      ansible.builtin.copy:
        src: "{{ dirsrv_tls_key_file }}"
        dest: "/tmp/server-cert-ansible-managed.key"
        remote_src: "{{ dirsrv_tls_files_remote }}"
        mode: '400'
        setype: cert_t
      when: dirsrv_tls_key_file is defined
      changed_when: false

    # TODO: count certs before, count them after, if they increased but the grep thing still finds one, then pk12util chose another nickname. Throw an error and die. Or check pk12util output

    # This avoids exposing to every user a file that contains the private key.
    # openssl pkcs12 overwrites the content without changing permissions.
    - name: Create pkcs12 empty file with correct permissions
      ansible.builtin.file:
        path: "/tmp/server-cert-ansible-managed.p12"
        setype: cert_t
        state: touch
        mode: '400'
      changed_when: false

    - name: Install openssl to create the pkcs12 file
      ansible.builtin.package:
        name: openssl
        state: present

    # We need to check if pwdfile.txt is present. If so, then the NSS database is protected and we need to pass it as a key
    - name: Stat the password file
      ansible.builtin.stat:
        path: /etc/dirsrv/slapd-{{ dirsrv_serverid }}/pwdfile.txt
      register: dirsrv_pwdfile_stat

    - name: Define pk12util authentication flag
      ansible.builtin.set_fact:
        dirsrv_pkutil_authflag: '{% if dirsrv_pwdfile_stat.stat.exists %}-k /etc/dirsrv/slapd-{{ dirsrv_serverid }}/pwdfile.txt{% else %}-K ""{% endif %}'

    - name: Define certutil authentication flag
      ansible.builtin.set_fact:
        dirsrv_certutil_authflag: '{% if dirsrv_pwdfile_stat.stat.exists %}-f /etc/dirsrv/slapd-{{ dirsrv_serverid }}/pwdfile.txt{% else %}{% endif %}'

    # openssl_pkcs12 does not support certificate chains.
    # Only the first certificate is considered.
    # If the chain is manually broken up into pieces, it may be imported,
    # but that's just too complicated to automate.
    - name: Create pkcs12
      ansible.builtin.command: >
        openssl pkcs12
        -export
        -in "/tmp/server-cert-ansible-managed.crt"
        -inkey "/tmp/server-cert-ansible-managed.key"
        -name "server-cert-ansible-managed"
        -out "/tmp/server-cert-ansible-managed.p12"
        -nodes -passout pass:
      changed_when: false

    - name: Add pkcs12 to NSS database
      ansible.builtin.command: >
        pk12util
        -i /tmp/server-cert-ansible-managed.p12
        -d /etc/dirsrv/slapd-{{ dirsrv_serverid }}
        {{ dirsrv_pkutil_authflag }}
        -W ''
      changed_when: false

    # pk12util will happily add another certificate with the same
    # nickname to the NSS database, if the key or something in the
    # certificate is different. If they are identical, the operation
    # succeeds but there's only one certificate in the database so
    # it's all good.
    # Either way, we need to check the NSS database and remove the old
    # key/cert. Or at least we should, I don't know what happens if
    # 389DS finds such duplicate certificates.
    #
    # Let's start by counting what we have there
    #
    # I don't think this command needs the password-file parameter even if the database is password
    # protected, but just to be sure...
    - name: Count Ansible managed keys in NSS database
      ansible.builtin.shell: >
        set -o pipefail;
        certutil -L
        -d /etc/dirsrv/slapd-{{ dirsrv_serverid }}/
        {{ dirsrv_certutil_authflag }}
        |
        grep
        -c "server-cert-ansible-managed"
      register: dirsrv_nss_key_count
      changed_when: false

    # This is needed because Jinja2 templates are not allowed in "when"
    # and Ansible casts everything to string or boolean, so no integer
    # variables for us...
    - name: Count keys
      ansible.builtin.set_fact:
        dirsrv_nss_key_count_too_many: "{{ dirsrv_nss_key_count.stdout | int > 1 }}"

    # This is the correct way to remove private keys (section 9.3.8.1
    # from the Administration Guide), however it removes a "random"
    # key, so we have to remove all of them and add the correct one
    # again...
    - name: Remove old keys from NSS database
      ansible.builtin.command: >
        certutil -F
        -d /etc/dirsrv/slapd-{{ dirsrv_serverid }}
        -n "server-cert-ansible-managed"
        {{ dirsrv_certutil_authflag }}
      when: dirsrv_nss_key_count_too_many
      # I'm still wondering if this loop is horrible or clever...
      changed_when: false
      loop: "{{ range(0, dirsrv_nss_key_count.stdout|int) | list }}"

    - name: Add pkcs12 to NSS database (again)
      ansible.builtin.command: >
        pk12util
        -i /tmp/server-cert-ansible-managed.p12
        -n server-cert-ansible-managed
        -d /etc/dirsrv/slapd-{{ dirsrv_serverid }}
        {{ dirsrv_pkutil_authflag }}
        -W ''
      when: dirsrv_nss_key_count_too_many
      changed_when: false
      register: dirsrv_restart_condition_tls_1

      # I *think* this may be needed for self-signed certificates, but not entirely sure...
      # - name: Set certificate parameters
      #   command: >
      #     certutil -M
      #     -d /etc/dirsrv/slapd-{{ dirsrv_serverid }}/
      #     -n server-cert-ansible-managed
      #     -t "u,u,u"
      #     {{ dirsrv_certutil_authflag }}
      #   when: not dirsrv_tls_certificate_trusted

      # --- CA certificates stuff ---------------------------------------

      # The role that I forked added CA certificates to system-wide
      # trusted CAs.
      # The manual says to add CA to the instance NSS db. Anyway,
      # Here's the relevant parts.
      #
      # - name: copy public cert chain to ca-trust
      #   copy:
      #     content: "{{ tls_cert }}"
      #     dest: "/etc/pki/ca-trust/source/anchors/{{ tls_cn }}.crt"

      # - name: Add public cert to ca trust
      #   shell: "/bin/update-ca-trust"

      # -t C,, or -t T,, or -t CT,,?
      # add -a if the certificate is ASCII encoded
      # - name: Install certificate into {{ serverid }} NSS db
      #   command: >
      #     certutil -A
      #     -d '/etc/dirsrv/slapd-{{ serverid }}'
      #     -n 'ansible_managed_{{ serverid }}'
      #     -t 'C,,'
      #     -a
      #     -i '/tmp/dirsrv_{{ serverid }}_ca_ansible_managed.crt'
      #     {{ dirsrv_certutil_authflag }}
      #   changed_when: false

      # --- end CA certificates stuff -----------------------------------

  always:
    - name: Remove temporary files
      ansible.builtin.file:
        state: absent
        path: "{{ item }}"
      loop:
        - "/tmp/server-cert-ansible-managed.crt"
        - "/tmp/server-cert-ansible-managed.key"
        - "/tmp/server-cert-ansible-managed.p12"
      changed_when: false

- name: Remove RSA configuration for TLS (if disabled)
  community.general.ldap_entry:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: "cn=RSA,cn=encryption,cn=config"
    state: absent
  when: not dirsrv_tls_enabled and not (dirsrv_selfsigned_cert | default(false))
  tags: [ dirsrv_tls ]
  register: dirsrv_restart_condition_tls_2

- name: Create RSA configuration for TLS (if enabled)
  community.general.ldap_entry:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: "cn=RSA,cn=encryption,cn=config"
    objectClass:
      - top
      - nsEncryptionModule
    state: present
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_tls ]
  register: dirsrv_restart_condition_tls_3

- name: Configure RSA parameters
  community.general.ldap_attrs:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: "cn=RSA,cn=encryption,cn=config"
    attributes:
      cn: "RSA"
      nsSSLToken: "internal (software)"
      nsSSLPersonalitySSL: "server-cert-ansible-managed"
      nsSSLActivation: "on"
    state: exact
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_tls ]
  register: dirsrv_restart_condition_tls_4

# Note: https://www.port389.org/docs/389ds/howto/howto-ssl.html says
# that other settings will not activate if nsslapd-security is off.
# This doesn't seem to be true, all options activate randomly and
# possibly immediately.
# Also: for this reason, the order is relevant.
- name: Configure TLS support
  community.general.ldap_attrs:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: "cn=config"
    attributes:
      nsslapd-security: "{{ 'on' if dirsrv_tls_enabled else 'off' }}"
    state: exact
  tags: [ dirsrv_tls ]

# Doesn't work:
# - name: Disable TLS-only port (636)
#   community.general.ldap_attrs:
#     params: "{{ ldap_auth }}"
#     dn: "cn=config"
#     attributes:
#        nsslapd-securePort: "0"
#     state: exact

- name: Configure TLS minimum version (disable SSL)
  community.general.ldap_attrs:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: cn=encryption,cn=config
    attributes:
      nsssl2: "off"
      nsssl3: "off"
      sslVersionMin: "TLS{{ dirsrv_tls_min_version }}"
      nsSSL3Ciphers: "{{ dirsrv_tls_ciphers }}"
    state: exact
  register: dirsrv_restart_condition_tls_5
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_tls ]

# TODO: support it?
- name: Disable TLS client authentication
  community.general.ldap_attrs:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: cn=encryption,cn=config
    attributes:
      nsSSLClientAuth: "off"
    state: exact
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_tls ]

- name: Configure anonymous binds
  community.general.ldap_attrs:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: "cn=config"
    attributes:
      nsslapd-allow-anonymous-access: "{{ 'rootdse' if dirsrv_allow_anonymous_binds == 'rootdse' else 'on' if dirsrv_allow_anonymous_binds else 'off' }}"
      # This defaults to "off" and it's better left alone
      # "nsslapd-allow-unauthenticated-binds": "{{ 'on' if allow_unauthenticated_binds else 'off' }}"
    state: exact
  when: dirsrv_tls_enabled | bool
  tags: [ dirsrv_tls ]

- name: Configure secure listen address
  community.general.ldap_attrs:
    server_uri: "{{ dirsrv_server_uri }}"
    validate_certs: "{{ dirsrv_tls_certificate_trusted }}"
    start_tls: "{{ dirsrv_starttls_early }}"
    bind_dn: "{{ dirsrv_rootdn }}"
    bind_pw: "{{ dirsrv_rootdn_password }}"
    dn: "cn=config"
    attributes:
      nsslapd-securelistenhost: "{{ dirsrv_secure_listen_host }}"
    state: exact
  register: dirsrv_restart_condition_tls_6
  when: dirsrv_secure_listen_host != None
  tags: [ dirsrv_tls ]
