#
# {{ ansible_managed }}
#
# Supported directives:
# https://access.redhat.com/documentation/en-us/red_hat_directory_server/9.0/html/installation_guide/Advanced_Configuration-Silent#Advanced_Configuration-inf-File-directives

# TODO: review all these settings

[General]
FullMachineName = {{ ldap_fqdn }}
SuiteSpotUserID = dirsrv
SuiteSpotGroup = dirsrv
# TODO: StrictHostCheck = false when installing behind a load balancer

[slapd]
ServerPort = 389
ServerIdentifier = {{ serverid }}
Suffix = {{ suffix }}
RootDN = {{ rootdn }}
RootDNPwd = {{ rootdn_password }}
AddOrgEntries = No
AddSampleEntries = No
# TODO: this creates "common container entries (like ou=People)". Make it optional.
InstallLdifFile = suggest
# TODO: SchemaFile may be useful
# TODO: ConfigFile may be useful (adds entries to dse.ldif)


# This part is only used by the admin server. Which is not installed or configured in any way by this role.
# [admin]
# SysUser = nobody? That's the default, but "This should be changed for most deployments."
# Port = 9830
# TODO: default to 127.0.0.1?
# ServerIpAddress = 0.0.0.0
# TODO: this is another account. Defaults to the same as ConfigDirectoryAdminID anyway.
#ServerAdminID = admin
#ServerAdminPwd = admin_password

