dn: cn=UID numbers,cn=Distributed Numeric Assignment Plugin,cn=plugins,cn=config
changetype: add
objectClass: top
objectClass: extensibleObject
cn: UID numbers
dnatype: uidNumber
dnamagicregen: 99999
dnafilter: (objectclass=posixAccount)
dnascope: {{ suffix }}
dnanextvalue: {{ uid_min }}
dnamaxvalue: {{ uid_max }}
