dn: cn={{ replication_user }},cn=config
changetype: add
objectClass: inetorgperson
objectClass: person
objectClass: top
cn: {{ replication_user }}
sn: {{ replication_user }}
userPassword:  {{  pwd_hash }}
passwordExpirationTime: 20380119031407Z
nsIdleTimeout: 0
