dn: cn=replication manager,cn=config
objectClass: inetorgperson
objectClass: person
objectClass: top
cn: replication manager
sn: RM
userPassword:  {{  pwd_hash }}
passwordExpirationTime: 20380119031407Z
nsIdleTimeout: 0
