dn: cn=changelog5,cn=config
changetype: add
objectclass: top
objectclass: extensibleObject
cn: changelog5
nsslapd-changelogdir: /var/lib/dirsrv/slapd-{{ serverid }}/changelogdb
nsslapd-changelogmaxage: 10d