dn: cn=supplierreplica,cn="{{ ldap_suffix }}",cn=mapping tree,cn=config
changetype: add
objectclass: top
objectclass: nsds5replica
objectclass: extensibleObject
cn: supplierreplica
nsds5replicaroot: {{ ldap_suffix }}
nsds5replicaid: {{ replication_nsds5replicaid }}
nsds5replicatype: 3
nsds5flags: 1
nsds5ReplicaPurgeDelay: 604800
nsds5ReplicaBindDN: cn={{ replication_user }},cn=config
